.has-transition {
  -webkit-transition: margin-left 1s ease-out;
  -moz-transition: margin-left 1s ease-out;
  -o-transition: margin-left 1s ease-out;
  transition: margin-left 1s ease-out;
}

li {
  background: #ccc;
  border: 1px #000 solid;
  display: block;
  padding: 2px;
  margin-left: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}